*{
    margin:0;
    padding:0;
}
body{
    /*background-color: #343434;*/
    background-color: #000000;
}
main{
    background-color: #000000;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    position:absolute;
    height:calc(100vmin*0.7421875);
}
#jogar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: red;
    border-radius: 2rem;
    border:white 1px solid;
    font-size: 20px;
    color:white;
    font-weight: bolder;
    position:absolute;
    box-shadow: rgba(0,0,0,0.4) 3px 3px;
    margin-top: 50vmin;
}
#jogar:hover{
    background-color: rgb(207, 0, 0);
    cursor: pointer;
}
#gameOverImg{
    margin-bottom: 5vmin;
    width:60vmin;
    position: absolute;
    display:none;
}


#controles{
    display:none;
    position: absolute;
    bottom: 3%;
    right: 3%;
}
.controle{
    width:5vw;
    height:5vw;
    opacity: 0.6;
    margin: 0.5vw;
}
.icone{
    color:white;
    width: 5vw;
    height: 5vw;
}
.centro{
    margin: 1.5vw;
    width:3vw;
    height:3vw;
    border-radius: 50%;
    background-color: white;
    opacity: 0.2;
}
.hc:hover{
    opacity: 0.2;
    cursor: pointer;
}

#menuDificuldade{
    top: 15%;
    display:none;
}
.dificuldade{
    color:white;
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}
.alternativa{
    padding: 2rem;  
    padding-top:0.75rem;
    padding-bottom: 0.75rem;
    display: inline;
    background-color: white;
    border-radius: 10px;
}
